@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
    --aspect-4\/5: 4 / 5;
    --aspect-5\/4: 5 / 4;

    --container-login: 22rem; /* 352px */
    --container-register: 25.25rem; /* 404px */

    --radius-2_5xl: 1.25rem; /* 20px */

    --border-width-0_5: 0.5px;
    --border-width-1_5: 1.5px;

    --font-logo:
        Sofia, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-heading:
        Montserrat, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --margin-navbar: 73px;
    --margin-navbar-open: 245px;

    --padding-13: 3.25rem; /* 52px */
    --padding-18: 4.5rem; /* 72px */
    --padding-navbar: 73px;
    --padding-navbar-open: 245px;

    --scroll-margin-header: 61px;

    --spacing-safe-top: env(safe-area-inset-top);
    --spacing-safe-bottom: env(safe-area-inset-bottom);
    --spacing-safe-left: env(safe-area-inset-left);
    --spacing-safe-right: env(safe-area-inset-right);

    --width-58: 14.5rem; /* 232px */
    --width-67: 16.75rem; /* 268px */
    --width-navbar-open: 245px;
}
