.page {
    @apply pb-12 pt-11 sm:py-6;
}

.page-content {
    @apply pb-12 pt-6;
    @apply sm:ms-navbar-left sm:pb-6 lg:ms-navbar-left-open;
}

.page-content-questionnaire {
    @apply flex flex-col items-center justify-center pt-6;
    @apply sm:ms-navbar-left sm:pb-6 lg:ms-navbar-left-open;
}

.page-title {
    @apply mx-auto w-11/12;
}

.page-headline {
    @apply mx-auto text-center font-heading text-2xl font-bold md:text-3xl lg:text-4xl;
}

.page-byline {
    @apply mx-auto mt-3 text-center font-heading text-lg sm:text-xl;
    @apply text-slate-700 dark:text-slate-400;
}

.page-content__container {
    @apply mx-auto max-w-makeup-item-md;
}

.page-content__title {
    @apply my-2 border-b-0.5 border-neutral-200 px-3 dark:border-neutral-800 sm:mx-auto sm:mb-9 sm:mt-0 sm:block sm:w-11/12 sm:border-b-0 sm:px-0;
}

.page-content__title__headline {
    @apply text-sm font-bold sm:text-center sm:text-2xl md:text-3xl lg:text-4xl;
}

.page-content__title__byline {
    @apply text-xs;
    @apply text-slate-700 dark:text-slate-400;
    @apply sm:mt-3 sm:text-center sm:text-xl;
}

.page-content__image {
    @apply mb-3;
}

.page-content__description {
    @apply px-4 text-sm;
}
